*{
    padding: 0;
    margin:0;
    box-sizing: border-box;   
}
header{
    width: 100%;
    background-color: #662f2f42;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0 ;
    border-bottom: 4px solid #b41717bd
}
.logo-imagem{
    width: 50px;
    height: 30px;
    border-radius: 25px;
}
.container-logo{
    display: flex;
    align-items: center;
}
.logo-texto{
    margin-left: 25px;
    color:rgb(0, 0, 0)
}
.menu li{
    display: inline-block;
    margin: 0 25px;
}
.menu li a{
    font-size: 24px;
    text-decoration: none;
    color:rgb(0, 0, 0)
}
.header-2 {
    background-color: white;
    width: 100%;
    border-bottom: 4px solid #b41717bd
}
.menu ul li a {
    display: inline-block ;
    color:#000000
}
